.projects {
	margin-top: 10%;
	margin-bottom: 5%;
}

.projects > h1{
	text-align: center;
	margin-bottom: 2%;
}
.projects >h3 {
	margin: 10%;
	text-align: center;
}
.javaProject {
	display: flex;
	flex-direction: row;
}

.javaProject >img {
	width: 25%;
	height: auto;
}
.projectDescription {
	margin-left: 5%;
}