.education {
	margin-top: 10%;
}

.education > h1 {
	text-align: center;
}
.USC {
	display: flex;
	flex-direction: row;
}

.USC > img {
	height: 100%;
	width: 50%;
}

.USCDescription {
	margin-top: 2%;
	margin-left: 2%;
}

.LAHC {
	display: flex;
	flex-direction: row;
	margin-left: 25%;
}

.LAHC > img {
	height: 100%;
	width: 27%;
}

.LAHCDescription {
	margin-top: 3%;
	margin-left: 5%;
}


@media only screen and (max-device-width: 480px){
.education {
	margin-top: 10%;
}

.USC {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.USC > img {
	height: auto;
	width: 90%;
}

.USCDescription {
	margin-left: 6%;
	width: 70%;
}

.LAHC {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30%;
	width: 60%;
}

.LAHC > img {
	height: auto;
	width: 100%;
	margin-right: 30%;
}

.LAHCDescription {
	margin: 0%;
	width: 100%;
}


}