.Coursework {
	width: 50%;
	margin-top: 5%;
}

.Coursework > h1 {
	text-align: center;
}

@media only screen and (max-device-width: 480px){
	.Coursework {
		width: 100%;
		margin-top: 5%;
	}

	.Coursework > h1 {
		text-align: center;
	}
}