#git {
	overflow: hidden;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-top: -3%;
}
#linkedin {
	overflow: hidden;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-top: -3%;
}
#instapic {
	overflow: hidden;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-top: -3%;
}

#homeUrl{
	font-size: 2vh;
}