.About {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	margin-left: 3%;
	margin-right: 2%;
}

img{
	width: 45%;
	height: auto;
	margin-left: 5%;
}

.Description {
	background-color: transparent;
	margin-top: 5%;
	margin-right: 10%;
	width: 60%;
}

@media only screen and (max-device-width: 480px){
	.About{
		display: flex;
		flex-direction: column;
		background-color: transparent;
		align-items: center;
	}
	img{
		width: 100%;
		height: auto;
	}
	.Description > h1{
		text-align: center;
	}
	.Description {
		background-color: transparent;
		width: 90%;
		text-align: left;
	}

}
